.fragment-highlight {
  background-color: var(--fragment-bg);
  color: var(--fragment-fg);
  border: 2px solid var(--fragment-border);
  border-radius: 6px;
  padding: 0px 2px;
  margin: 1px;
  display: inline-block;
  font-weight: 500;
  font-size: 0.8em;
}
.fragment-highlight::before {
  content: "🔀 ";
  opacity: 0.3;
}

.cm-line.permission-global-directive {
  background-color: var(--permission-global-bg);
  border-left: 4px solid var(--permission-global-border);
  padding: 4px 8px;
  margin: 8px 0;
  font-style: italic;
}

.permission-block {
  background-color: var(--permission-bg);
  border-left: 4px solid var(--permission-border);
  padding: 4px 8px;
  margin: 8px 0;
}

.side-by-side-block {
  background-color: var(--side-block-bg);
  border-left: 2px solid var(--side-block-border);
  border-right: 2px solid var(--side-block-border);
  padding: 6px;
  margin: 4px 0;
}

.side-by-side-start {
  background-color: var(--side-block-bg);
  color: var(--side-separator-fg);
  border-top: 2px solid var(--side-block-border);
  border-left: 2px solid var(--side-block-border);
  border-right: 2px solid var(--side-block-border);
  padding: 4px;
  margin: 4px 0;
}

.side-by-side-end {
  background-color: var(--side-block-bg);
  color: var(--side-separator-fg);
  border-bottom: 2px solid var(--side-block-border);
  border-left: 2px solid var(--side-block-border);
  border-right: 2px solid var(--side-block-border);
  padding: 4px;
  margin: 4px 0;
}

.side-by-side-separator {
  border-top: 2px dashed var(--side-separator-color);
  color: var(--side-separator-fg);
  margin: 6px 0;
}

.safelearn-hidden {
  display: none !important;
}

/* Light Theme */
.theme-light {
  --fragment-bg: #f59c2e25;
  --fragment-fg: #51320c;
  --fragment-border: #f59c2e8e;

  --permission-global-bg: #ede2e241;
  --permission-global-border: #db9a8f;
  --permission-bg: #ede2e218;
  --permission-border: #db9a8fdc;
  --permission-label-bg: #f9e2e2;
  --permission-label-fg: #225577;

  --side-separator-fg: #aaaacc;
  --side-block-bg: #f4f4f9;
  --side-block-border: #aaaacc;
  --side-separator-color: #888;
}

/* Dark Theme */
.theme-dark {
  --fragment-bg: #f59c2e13;
  --fragment-fg: #6a5c4b;
  --fragment-border: #f59c2e63;

  --permission-global-bg: #290a0535;
  --permission-global-border: #471108;
  --permission-bg: #290a0510;
  --permission-border: #290a05;
  --permission-label-bg: #573934;
  --permission-label-fg: #b2dfdb;

  --side-separator-fg: #444466;
  --side-block-bg: #2a2a3337;
  --side-block-border: #444466;
  --side-separator-color: #666;
}
